/* Add your CSS code below */
a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 0.5rem solid blue;
}

.message__time--old {
  opacity: 0.3;
}

.message {
  line-height: 2rem;
}
