/* Try different box model properties below */
/* * { 
  border: 1px solid red; 
} */

.pages__page {
  border: 1px solid #4491db;
  border-radius: 25%;
  background: #fff;
  width: 20px;
  height: 20px;
  margin: 0 0 6px 6px;
}

.countries {
  padding: 7px 5px 7px 7px;
}
