.countries {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
}

/* Add your own CSS code below */

.countries--first {
  flex-direction: row;
  align-items: flex-end;
  padding-left: 4rem;
}

.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-right: 2.5rem;
}

.countries--third {
  flex-direction: row;
  align-items: flex-start;
  padding-left: 2.5rem;
}

.countries--third .country--brazil {
  align-self: flex-end;
}

.countries--fourth {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.countries--fourth .country--ethiopia {
  align-self: center;
}

.countries--fourth .country--laos {
  align-self: center;
}

.countries--fifth {
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
}

.countries--fifth .country--uganda {
  align-self: center;
}

.countries--fifth .country--laos {
  order: 1;
}
